<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<array>
		<dict>
			<key>code</key>
			<integer>4</integer>
			<key>name</key>
			<string>四年级</string>
			<key>level</key>
			<integer>1</integer>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>5</integer>
			<key>name</key>
			<string>五年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>6</integer>
			<key>name</key>
			<string>六年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>7</integer>
			<key>name</key>
			<string>七年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>8</integer>
			<key>name</key>
			<string>八年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>9</integer>
			<key>name</key>
			<string>九年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>10</integer>
			<key>name</key>
			<string>高一年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>11</integer>
			<key>name</key>
			<string>高二年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>12</integer>
			<key>name</key>
			<string>高三年级</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>2</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>化学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>3</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>生物</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>4</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>语文</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>5</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>英语</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>6</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>历史</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>7</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>地理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>8</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>政治</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>301</integer>
			<key>name</key>
			<string>高考</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>1</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>物理</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>4</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>语文</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>5</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>英语</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>code</key>
			<integer>304</integer>
			<key>name</key>
			<string>高考（文科）</string>
			<key>item</key>
			<array>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>classify</key>
					<string></string>
					<key>code</key>
					<integer>0</integer>
					<key>grade_code</key>
					<integer>0</integer>
					<key>grade_name</key>
					<string></string>
					<key>name</key>
					<string>数学</string>
					<key>region_code</key>
					<integer>0</integer>
					<key>region_end</key>
					<integer>0</integer>
					<key>region_name</key>
					<string></string>
					<key>region_start</key>
					<integer>0</integer>
					<key>subject_code</key>
					<integer>0</integer>
					<key>subject_name</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<key>success</key>
	<true/>
	<key>message</key>
	<string></string>
</dict>
</plist>
